@import "compass/css3";
@import "compass/utilities";

@import "mixins/animations";


$default-bg-color: #fefefe;
$default-txt-color: #979797;
$default-ft-size: 16px;

$header-bg-color: #fff;
$header-txt-color: #222;

$hero-h1-txt-color: #222;
$hero-h2-txt-color: #444;


$section1-bg-color: #F5F3DC;
$section1-txt-color: #555459;

$section2-bg-color: #36a64f;
$section2-txt-color: #fff;
$section2-link-color: #fff;

$section3-bg-color: #f2f2f5;
$section3-txt-color: #555459;

$section4-bg-color: #4682B4;
$section4-txt-color: #FDFDFD;
$section4-link-color: #CCC;

$footer-bg-color: #454445;
$footer-txt-color: #FFFFFF;

// MIXIN -Default text shadows 
$default-text-shadow-color: #868686;
$default-text-shadow-blur: 0;
$default-text-shadow-v-offset: -1px;

// MIXIN - prefixer 
$prefix-for-webkit:    true !default;
$prefix-for-mozilla:   true !default;
$prefix-for-microsoft: true !default;
$prefix-for-opera:     true !default;
$prefix-for-spec:      true !default; 

@import "hero";
html, body, #main {
    height: 100%;
}
body {
    background: $default-bg-color;
    color: $default-txt-color;
    padding: 0;
    font-family: "exoregular";
    font-size: $default-ft-size;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    overflow-x: hidden;
}
a:select {
    outline: 0
}
header {
    padding: 0;
    border-bottom: 1px solid #e7e7e7;
    background: $header-bg-color;
    font-size: 24px;
    @include box-shadow(rgba(0,0,0,.08) 0 2px 5px);
}
header.navbar {
    margin-bottom: 0;
}
header .navbar-user img {
    height: 50px;
    width: 50px;
    @include box-shadow( rgba(0, 0, 0, 0.3) 0 1px 0);
    @include border-radius(6px);
    -webkit-background-clip: padding-box;
}
header, header a {
    color: $header-txt-color;
}
.navbar-toggle .icon-bar {
    background-color: $header-txt-color;
}
.navbar-nav>li.me {
    font-weight: bold;
}

.nav>li>a:hover, .nav>li>a:focus {
    background-color: transparent;
}

@media only screen and (min-width: 768px){
    header {
        top: 0;
        position: fixed;
        width: 100%;
        z-index: 9999;
    }
}

.languageDropdown {
    font-size: $default-ft-size;
    cursor: pointer;
}
.flagAddon:before {
    display: inline-block;
    height: 14px;
    width: 18px;
    margin-right: 5px; 
    content: "";
}
.frenchFlag:before {
    background: url("../img/components/french.png") center no-repeat;
    
}
.englishFlag:before  {
    background: url("../img/components/english.png") center no-repeat;
}

#main {
    height: 100%;
}
.hero {
    font-family: "shadowsintolight";
    background-image: url(../img/dof.png);
    background-size: cover;
    background-repeat: no-repeat;

    min-height: 100%;
    position: relative;
}
.hero h1 {
    color: $hero-h1-txt-color;
}
.hero h2 {
    color: $hero-h2-txt-color;
}
@media (min-width:768px) {
    .hero {
        padding-top: 60px;
        padding-bottom: 150px;
        font-size: 24px;
        text-align: left
    }

    .hero h1 {
        font-size: 40px;
    }
}

@media (min-width:992px) {
    .hero h1,.bs-docs-header p {
        margin-right: 50px
    }
}
section {
    padding: 25px 0 25px 0;
}
section aside {
    display: none;
    width: 50%;
    float: left;
    padding-right: 5%;
    text-align: left;
    @include box-sizing(border-box);
}
@media (min-width: 600px) {
    section aside {
        display: block;
    }
}
#section1 {
    background: $section1-bg-color;
    color: $section1-txt-color;
    @include single-text-shadow(#fff, 0, 1px);
}
#section1 hr {
    border-color: $section1-txt-color;
}

#section2 {
    background: $section2-bg-color;
    color: $section2-txt-color;
    @include single-text-shadow(rgba(0,0,0,0.15), 0, 1px);
}
#section2 hr {
    border-color: $section2-txt-color;
}
#section2 a {
    color: $section2-link-color;
}
#section2 a:hover {
    color: darken($section2-link-color, 20%);
}

#section3 {
    background: $section3-bg-color;
    color: $section3-txt-color;
    @include single-text-shadow(#fff, 0, 1px);
}
#section3 hr {
    border-color: $section3-txt-color;
}


#section4 {
    background: $section4-bg-color;
    color: $section4-txt-color;
    @include single-text-shadow(rgba(0,0,0,0.15), 0, 1px);
}
#section4 hr {
    border-color: $section4-txt-color;
}
#section4 a {
    color: $section4-link-color;
}
#section4 a:hover {
    color: darken($section4-link-color, 20%);
}


footer {
    background: $footer-bg-color;
    color: $footer-txt-color;
}

.browsehappy {
    font-size: 48px;
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


.thumbnail  {
    background: transparent;
    border: none;
}
.thumbnail img {
    @include border-radius(6px);
}

.table-row {
    border-bottom: 1px solid #eee;
    margin-bottom: 30px;
}
.emphasis {
    font-weight: bold;
    @include single-text-shadow;    
}

.no-wrap {    
    white-space: nowrap;
}
.ellipsis-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}







@include font-face("exoregular", font-files("exo/exo-regular-webfont.woff", "exo/exo-regular-webfont.ttf", "exo/Exo-Regular.otf", "exo/exo-regular-webfont.svg"));
@include font-face("impactlabel", font-files("impact/Impact_Label_Reversed-webfont.woff", "impact/Impact_Label_Reversed-webfont.ttf", "impact/Impact_Label_Reversed-webfont.otf", "impact/Impact_Label_Reversed-webfont.svg"));
@include font-face("shadowsintolight", font-files("shadowsintolight/shadowsintolight.woff", "shadowsintolight/shadowsintolight.ttf", "shadowsintolight/shadowsintolight.otf", "shadowsintolight/shadowsintolight.svg"));


// use of keyframes mixin
@include keyframes(fadeIn) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  } 
}

@include keyframes(rollOut) {
  0% {
    height: 20px;
    overflow: hidden;
  }
  100% {
    height : 100%;
  } 
}


.lazyShow {
   opacity: 0;
};
.lazyShowed {
    @include animation(fadeIn 1s ease-in);
}

