/* line 48, main.scss */
html, body, #main {
  height: 100%;
}

/* line 51, main.scss */
body {
  background: #fefefe;
  color: #979797;
  padding: 0;
  font-family: "exoregular";
  font-size: 16px;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* line 62, main.scss */
a:select {
  outline: 0;
}

/* line 65, main.scss */
#main {
  height: 100%;
}

/* line 69, main.scss */
section {
  padding: 25px 0 25px 0;
}

/* line 72, main.scss */
section aside {
  display: none;
  width: 50%;
  float: left;
  padding-right: 5%;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: 600px) {
  /* line 81, main.scss */
  section aside {
    display: block;
  }
}
/* line 85, main.scss */
#section1 {
  background: #f5f3dc;
  color: #555459;
  text-shadow: 0 1px 0 white;
}

/* line 90, main.scss */
#section1 hr {
  border-color: #555459;
}

/* line 94, main.scss */
#section2 {
  background: #36a64f;
  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}

/* line 99, main.scss */
#section2 hr {
  border-color: white;
}

/* line 102, main.scss */
#section2 a {
  color: white;
}

/* line 105, main.scss */
#section2 a:hover {
  color: #cccccc;
}

/* line 108, main.scss */
#section2 .highlighted {
  -webkit-transition: text-shadow 0.3s ease;
  -moz-transition: text-shadow 0.3s ease;
  -o-transition: text-shadow 0.3s ease;
  transition: text-shadow 0.3s ease;
  text-shadow: 2px 1px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

/* line 113, main.scss */
#section2 .unhighlighted {
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  opacity: .35;
}

/* line 118, main.scss */
#section3 {
  background: #f2f2f5;
  color: #555459;
  line-height: 160%;
  text-shadow: 0 1px 0 white;
}

/* line 124, main.scss */
#section3 hr {
  border-color: #555459;
}

/* line 129, main.scss */
#section4 {
  background: steelblue;
  color: #fdfdfd;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}

/* line 134, main.scss */
#section4 hr {
  border-color: #fdfdfd;
}

/* line 137, main.scss */
#section4 a {
  color: #cccccc;
}

/* line 140, main.scss */
#section4 a:hover {
  color: #999999;
}

/* line 145, main.scss */
footer {
  background: #454445;
  color: white;
}

/* line 150, main.scss */
.browsehappy {
  font-size: 48px;
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* line 159, main.scss */
.thumbnail {
  background: transparent;
  border: none;
}

/* line 163, main.scss */
.thumbnail img {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}

/* line 167, main.scss */
.table-row {
  border-bottom: 1px solid #eee;
  margin-bottom: 30px;
}

/* line 171, main.scss */
.emphasis {
  font-weight: bold;
  text-shadow: 0px -1px 0 #868686;
}

/* line 176, main.scss */
.no-wrap {
  white-space: nowrap;
}

/* line 179, main.scss */
.ellipsis-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@font-face {
  font-family: "exoregular";
  src: url('/../fonts/exo/exo-regular.woff') format('woff'), url('/../fonts/exo/exo-regular.ttf') format('truetype'), url('/../fonts/exo/Exo-Regular.otf') format('opentype'), url('/../fonts/exo/exo-regular.svg') format('svg');
}

@font-face {
  font-family: "impactlabel";
  src: url('/../fonts/impact/Impact_Label_Reversed.woff') format('woff'), url('/../fonts/impact/Impact_Label_Reversed.ttf') format('truetype'), url('/../fonts/impact/Impact_Label_Reversed.otf') format('opentype'), url('/../fonts/impact/Impact_Label_Reversed.svg') format('svg');
}

@font-face {
  font-family: "shadowsintolight";
  src: url('/../fonts/shadowsintolight/shadowsintolight.woff') format('woff'), url('/../fonts/shadowsintolight/shadowsintolight.ttf') format('truetype'), url('/../fonts/shadowsintolight/shadowsintolight.otf') format('opentype'), url('/../fonts/shadowsintolight/shadowsintolight.svg') format('svg');
}

@font-face {
  font-family: "gooddog";
  src: url('/../fonts/goodDog/gooddog.woff') format('woff'), url('/../fonts/goodDog/gooddog.ttf') format('truetype'), url('/../fonts/goodDog/gooddog.otf') format('opentype'), url('/../fonts/goodDog/gooddog.svg') format('svg');
}

@font-face {
  font-family: "jrHand";
  src: url('/../fonts/jrhand/jrha.woff') format('woff'), url('/../fonts/jrhand/jrha.ttf') format('truetype'), url('/../fonts/jrhand/jrha.otf') format('opentype'), url('/../fonts/jrhand/jrha.svg') format('svg');
}

@-webkit-keyframes fadeIn {
  /* line 195, main.scss */
  0% {
    opacity: 0;
  }

  /* line 198, main.scss */
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  /* line 195, main.scss */
  0% {
    opacity: 0;
  }

  /* line 198, main.scss */
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  /* line 195, main.scss */
  0% {
    opacity: 0;
  }

  /* line 198, main.scss */
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  /* line 195, main.scss */
  0% {
    opacity: 0;
  }

  /* line 198, main.scss */
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes rollOut {
  /* line 204, main.scss */
  0% {
    height: 20px;
    overflow: hidden;
  }

  /* line 208, main.scss */
  100% {
    height: 100%;
  }
}

@-moz-keyframes rollOut {
  /* line 204, main.scss */
  0% {
    height: 20px;
    overflow: hidden;
  }

  /* line 208, main.scss */
  100% {
    height: 100%;
  }
}

@-ms-keyframes rollOut {
  /* line 204, main.scss */
  0% {
    height: 20px;
    overflow: hidden;
  }

  /* line 208, main.scss */
  100% {
    height: 100%;
  }
}

@keyframes rollOut {
  /* line 204, main.scss */
  0% {
    height: 20px;
    overflow: hidden;
  }

  /* line 208, main.scss */
  100% {
    height: 100%;
  }
}

/* line 214, main.scss */
.lazyShow {
  opacity: 0;
}

/* line 217, main.scss */
.lazyShowed {
  -webkit-animation: fadeIn 1s ease-in;
  -moz-animation: fadeIn 1s ease-in;
  -o-animation: fadeIn 1s ease-in;
  -ms-animation: fadeIn 1s ease-in;
  animation: fadeIn 1s ease-in;
}

@media (min-width: 768px) {
  /* line 4, _header.scss */
  .menu-separator {
    height: 10px;
    width: 50px;
  }
}
/* line 11, _header.scss */
header {
  padding: 0;
  border-bottom: 1px solid #e7e7e7;
  background: white;
  font-size: 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.08) 0 2px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.08) 0 2px 5px;
  box-shadow: rgba(0, 0, 0, 0.08) 0 2px 5px;
}

@media only screen and (min-width: 768px) {
  /* line 19, _header.scss */
  header.affix {
    width: 100%;
  }
}
/* line 24, _header.scss */
header.navbar {
  margin-bottom: 0;
}

/* line 27, _header.scss */
header .me {
  font-size: 24px;
}

/* line 30, _header.scss */
header .me img {
  height: 50px;
  width: 50px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-background-clip: padding-box;
}

/* line 37, _header.scss */
.navbar-nav > li > a.brand-link {
  padding: 0;
}

/* line 40, _header.scss */
header, header a {
  color: #222222;
}

/* line 43, _header.scss */
.navbar-toggle .icon-bar {
  background-color: #222222;
}

/* line 46, _header.scss */
.navbar-nav > li.me {
  font-weight: bold;
}

/* line 50, _header.scss */
.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
}

/* line 54, _header.scss */
.languageDropdown {
  cursor: pointer;
}

@media (min-width: 768px) {
  /* line 58, _header.scss */
  .languageDropdown {
    font-size: 20px;
  }
}
/* line 62, _header.scss */
.flagAddon:before {
  display: inline-block;
  height: 14px;
  width: 18px;
  margin-right: 5px;
  content: "";
}

/* line 69, _header.scss */
.frenchFlag:before {
  background: url("../img/components/french.png") center no-repeat;
}

/* line 73, _header.scss */
.englishFlag:before {
  background: url("../img/components/english.png") center no-repeat;
}

/* line 9, _hero.scss */
.hero {
  background: url(../img/Optimized-off.png) no-repeat center center fixed;
  background-size: cover;
  overflow-x: hidden;
  min-height: 100%;
  position: relative;
}

/* line 17, _hero.scss */
.hero h1 {
  color: #222222;
}

/* line 20, _hero.scss */
.hero h2 {
  color: #444444;
}

@media (min-width: 768px) {
  /* line 24, _hero.scss */
  .hero {
    padding-top: 60px;
    padding-bottom: 150px;
    text-align: left;
  }

  /* line 30, _hero.scss */
  .hero h1 {
    font-size: 35px;
  }
}
@media (min-width: 992px) {
  /* line 36, _hero.scss */
  .hero h1 {
    font-size: 40px;
    margin-right: 10px;
  }
}
/* line 42, _hero.scss */
.hero-wrapper {
  width: 100%;
  position: relative;
  margin: 110px auto 0 auto;
  padding: 10px;
}

/* line 48, _hero.scss */
.hero-sentence {
  margin: 0;
  font-weight: 300;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}

/* line 53, _hero.scss */
.hero-sentence span {
  color: #333333;
  white-space: nowrap;
}

/* line 57, _hero.scss */
.hero-sentence > span:first-child {
  display: block;
  text-indent: 5px;
  font-size: 145%;
}

/* line 62, _hero.scss */
.hero-words {
  width: 100%;
  height: 100px;
  letter-spacing: 1px;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  -ms-perspective: 800px;
  perspective: 800px;
}

/* line 72, _hero.scss */
.hero-words span {
  margin-top: 35px;
  position: absolute;
  width: 100%;
  opacity: 0;
  white-space: nowrap;
  padding-top: 20px;
  overflow: hidden;
}

/* line 81, _hero.scss */
.hero-words-1 span {
  font-family: "jrHand";
  font-size: 400%;
  line-height: 82%;
  -webkit-animation: rotateWordsFirst 18s linear infinite 0s;
  -moz-animation: rotateWordsFirst 18s linear infinite 0s;
  -o-animation: rotateWordsFirst 18s linear infinite 0s;
  -ms-animation: rotateWordsFirst 18s linear infinite 0s;
  animation: rotateWordsFirst 18s linear infinite 0s;
}

/* line 87, _hero.scss */
.hero-words-2 span {
  font-family: "gooddog";
  font-size: 300%;
  font-style: italic;
  text-indent: 5px;
  line-height: 90%;
  color: steelblue;
  -webkit-animation: rotateWordsSecond 18s ease-in infinite 0s;
  -moz-animation: rotateWordsSecond 18s ease-in infinite 0s;
  -o-animation: rotateWordsSecond 18s ease-in infinite 0s;
  -ms-animation: rotateWordsSecond 18s ease-in infinite 0s;
  animation: rotateWordsSecond 18s ease-in infinite 0s;
}

@media screen and (max-width: 1600px) {
  /* line 97, _hero.scss */
  .hero-words-1 span {
    font-size: 350%;
    text-indent: 5px;
  }

  /* line 98, _hero.scss */
  .hero-words-2 span {
    font-size: 250%;
  }
}
@media screen and (max-width: 1200px) {
  /* line 101, _hero.scss */
  .hero-words {
    height: 55px;
  }

  /* line 102, _hero.scss */
  .hero-words-1 span {
    font-size: 250%;
    text-indent: 5px;
  }

  /* line 103, _hero.scss */
  .hero-words-2 span {
    font-size: 200%;
  }
}
@media screen and (max-width: 1060px) {
  /* line 106, _hero.scss */
  .hero-words {
    height: 55px;
  }

  /* line 107, _hero.scss */
  .hero-words-1 span {
    font-size: 230%;
    text-indent: 5px;
  }

  /* line 108, _hero.scss */
  .hero-words-2 span {
    font-size: 170%;
  }
}
@media screen and (max-width: 560px) {
  /* line 111, _hero.scss */
  .hero-words {
    height: 40px;
  }

  /* line 112, _hero.scss */
  .hero-words-1 span {
    font-size: 150%;
    text-indent: 5px;
  }

  /* line 113, _hero.scss */
  .hero-words-2 span {
    font-size: 70%;
  }
}
@media screen and (max-width: 400px) {
  /* line 116, _hero.scss */
  .hero-words {
    height: 30px;
  }

  /* line 117, _hero.scss */
  .hero-words-1 span {
    font-size: 140%;
    text-indent: 5px;
  }

  /* line 118, _hero.scss */
  .hero-words-2 span {
    font-size: 70%;
  }
}
/* line 120, _hero.scss */
.hero--words span:nth-child(1) {
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -o-animation-delay: 3s;
  -ms-animation-delay: 3s;
  animation-delay: 3s;
}

/* line 123, _hero.scss */
.hero-words span:nth-child(2) {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
}

/* line 126, _hero.scss */
.hero-words span:nth-child(3) {
  -webkit-animation-delay: 9s;
  -moz-animation-delay: 9s;
  -o-animation-delay: 9s;
  -ms-animation-delay: 9s;
  animation-delay: 9s;
}

/* line 129, _hero.scss */
.hero-words span:nth-child(4) {
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s;
}

/* line 132, _hero.scss */
.hero-words span:nth-child(5) {
  -webkit-animation-delay: 15s;
  -moz-animation-delay: 15s;
  -o-animation-delay: 15s;
  -ms-animation-delay: 15s;
  animation-delay: 15s;
}

/* line 138, _hero.scss */
.row-next {
  bottom: -15px;
  right: 0px;
  text-align: center;
  width: 100%;
  -webkit-animation: sparkle 2s ease-in-out infinite 0s;
  -moz-animation: sparkle 2s ease-in-out infinite 0s;
  -o-animation: sparkle 2s ease-in-out infinite 0s;
  -ms-animation: sparkle 2s ease-in-out infinite 0s;
  animation: sparkle 2s ease-in-out infinite 0s;
}
/* line 144, _hero.scss */
.row-next a {
  position: absolute;
  bottom: 70px;
  content: "";
  border-right: solid 5px #e28356;
  border-bottom: solid 5px #e28356;
  width: 70px;
  height: 70px;
  outline: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 155, _hero.scss */
.row-next a:hover {
  border-right: solid 5px #cccccc;
  border-bottom: solid 5px #cccccc;
}

@-webkit-keyframes rotateWordsFirst {
  /* line 162, _hero.scss */
  0% {
    opacity: 0;
    -o-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    width: 0px;
  }

  /* line 163, _hero.scss */
  5% {
    opacity: 1;
    -o-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    width: 100%;
  }

  /* line 164, _hero.scss */
  17% {
    opacity: 1;
  }

  /* line 165, _hero.scss */
  20% {
    opacity: 0;
  }

  /* line 166, _hero.scss */
  100% {
    opacity: 0;
  }
}

@-moz-keyframes rotateWordsFirst {
  /* line 162, _hero.scss */
  0% {
    opacity: 0;
    -o-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    width: 0px;
  }

  /* line 163, _hero.scss */
  5% {
    opacity: 1;
    -o-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    width: 100%;
  }

  /* line 164, _hero.scss */
  17% {
    opacity: 1;
  }

  /* line 165, _hero.scss */
  20% {
    opacity: 0;
  }

  /* line 166, _hero.scss */
  100% {
    opacity: 0;
  }
}

@-ms-keyframes rotateWordsFirst {
  /* line 162, _hero.scss */
  0% {
    opacity: 0;
    -o-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    width: 0px;
  }

  /* line 163, _hero.scss */
  5% {
    opacity: 1;
    -o-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    width: 100%;
  }

  /* line 164, _hero.scss */
  17% {
    opacity: 1;
  }

  /* line 165, _hero.scss */
  20% {
    opacity: 0;
  }

  /* line 166, _hero.scss */
  100% {
    opacity: 0;
  }
}

@keyframes rotateWordsFirst {
  /* line 162, _hero.scss */
  0% {
    opacity: 0;
    -o-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    width: 0px;
  }

  /* line 163, _hero.scss */
  5% {
    opacity: 1;
    -o-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    width: 100%;
  }

  /* line 164, _hero.scss */
  17% {
    opacity: 1;
  }

  /* line 165, _hero.scss */
  20% {
    opacity: 0;
  }

  /* line 166, _hero.scss */
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes rotateWordsSecond {
  /* line 169, _hero.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateZ(600px) translateX(200px);
    -moz-transform: translateZ(600px) translateX(200px);
    -ms-transform: translateZ(600px) translateX(200px);
    -o-transform: translateZ(600px) translateX(200px);
    transform: translateZ(600px) translateX(200px);
  }

  /* line 170, _hero.scss */
  8% {
    opacity: 1;
    -webkit-transform: translateZ(0px) translateX(0px);
    -moz-transform: translateZ(0px) translateX(0px);
    -ms-transform: translateZ(0px) translateX(0px);
    -o-transform: translateZ(0px) translateX(0px);
    transform: translateZ(0px) translateX(0px);
  }

  /* line 171, _hero.scss */
  17% {
    opacity: 1;
  }

  /* line 172, _hero.scss */
  25% {
    opacity: 0;
  }

  /* line 173, _hero.scss */
  100% {
    opacity: 0;
  }
}

@-moz-keyframes rotateWordsSecond {
  /* line 169, _hero.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateZ(600px) translateX(200px);
    -moz-transform: translateZ(600px) translateX(200px);
    -ms-transform: translateZ(600px) translateX(200px);
    -o-transform: translateZ(600px) translateX(200px);
    transform: translateZ(600px) translateX(200px);
  }

  /* line 170, _hero.scss */
  8% {
    opacity: 1;
    -webkit-transform: translateZ(0px) translateX(0px);
    -moz-transform: translateZ(0px) translateX(0px);
    -ms-transform: translateZ(0px) translateX(0px);
    -o-transform: translateZ(0px) translateX(0px);
    transform: translateZ(0px) translateX(0px);
  }

  /* line 171, _hero.scss */
  17% {
    opacity: 1;
  }

  /* line 172, _hero.scss */
  25% {
    opacity: 0;
  }

  /* line 173, _hero.scss */
  100% {
    opacity: 0;
  }
}

@-ms-keyframes rotateWordsSecond {
  /* line 169, _hero.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateZ(600px) translateX(200px);
    -moz-transform: translateZ(600px) translateX(200px);
    -ms-transform: translateZ(600px) translateX(200px);
    -o-transform: translateZ(600px) translateX(200px);
    transform: translateZ(600px) translateX(200px);
  }

  /* line 170, _hero.scss */
  8% {
    opacity: 1;
    -webkit-transform: translateZ(0px) translateX(0px);
    -moz-transform: translateZ(0px) translateX(0px);
    -ms-transform: translateZ(0px) translateX(0px);
    -o-transform: translateZ(0px) translateX(0px);
    transform: translateZ(0px) translateX(0px);
  }

  /* line 171, _hero.scss */
  17% {
    opacity: 1;
  }

  /* line 172, _hero.scss */
  25% {
    opacity: 0;
  }

  /* line 173, _hero.scss */
  100% {
    opacity: 0;
  }
}

@keyframes rotateWordsSecond {
  /* line 169, _hero.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateZ(600px) translateX(200px);
    -moz-transform: translateZ(600px) translateX(200px);
    -ms-transform: translateZ(600px) translateX(200px);
    -o-transform: translateZ(600px) translateX(200px);
    transform: translateZ(600px) translateX(200px);
  }

  /* line 170, _hero.scss */
  8% {
    opacity: 1;
    -webkit-transform: translateZ(0px) translateX(0px);
    -moz-transform: translateZ(0px) translateX(0px);
    -ms-transform: translateZ(0px) translateX(0px);
    -o-transform: translateZ(0px) translateX(0px);
    transform: translateZ(0px) translateX(0px);
  }

  /* line 171, _hero.scss */
  17% {
    opacity: 1;
  }

  /* line 172, _hero.scss */
  25% {
    opacity: 0;
  }

  /* line 173, _hero.scss */
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes sparkle {
  /* line 176, _hero.scss */
  0% {
    opacity: 0;
  }

  /* line 177, _hero.scss */
  70% {
    opacity: 1;
  }

  /* line 178, _hero.scss */
  100% {
    opacity: 0;
  }
}

@-moz-keyframes sparkle {
  /* line 176, _hero.scss */
  0% {
    opacity: 0;
  }

  /* line 177, _hero.scss */
  70% {
    opacity: 1;
  }

  /* line 178, _hero.scss */
  100% {
    opacity: 0;
  }
}

@-ms-keyframes sparkle {
  /* line 176, _hero.scss */
  0% {
    opacity: 0;
  }

  /* line 177, _hero.scss */
  70% {
    opacity: 1;
  }

  /* line 178, _hero.scss */
  100% {
    opacity: 0;
  }
}

@keyframes sparkle {
  /* line 176, _hero.scss */
  0% {
    opacity: 0;
  }

  /* line 177, _hero.scss */
  70% {
    opacity: 1;
  }

  /* line 178, _hero.scss */
  100% {
    opacity: 0;
  }
}

/* line 226, main.scss */
.peep {
  -webkit-animation: sparkle 2s ease-in-out infinite 0s;
  -moz-animation: sparkle 2s ease-in-out infinite 0s;
  -o-animation: sparkle 2s ease-in-out infinite 0s;
  -ms-animation: sparkle 2s ease-in-out infinite 0s;
  animation: sparkle 2s ease-in-out infinite 0s;
}
