<div class="navbar-header">
	<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
</div>
<nav class="collapse navbar-collapse bs-navbar-collapse " role="navigation" data-template-id="header" > 
	<ul id="header-profile" class="nav navbar-nav">
		<li class="me hidden-xs">
			<a href="#top" class="brand-link" ><img src="{{gravatarUrl}}">{{fullname}}</a>
		</li>
		<li class="menu-separator"></li>
		{{#each menus}}        
        <li ><a id="{{id}}" href="{{link}}">{{title}}</a></li>
        {{/each}}
    </ul>
	<ul class="nav navbar-nav navbar-right navbar-user">

		<li id="languageSelection" class="dropdown languageDropdown navbar-right" data-toggle="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"> {{language}} <b class="caret"></b></a>
			<ul id="languageMenu" class="dropdown-menu" role="menu">
				<li><a role="menuitem" class="flagAddon frenchFlag" data-selectlanguage="fr" >Français</a></li>
				<li><a role="menuitem" class="flagAddon englishFlag" data-selectlanguage="en" >English</a></li>
			</ul>
		</li>

	</ul>

</nav>
