<h2>{{title}}</h2>
<hr>
<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="img/logo_ENIB.png" alt="ENIB logo">
            <div class="caption">
                {{{ENIBContent}}}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="img/worldwide.png" alt="World Wide image">
            <div class="caption">
                {{{technologiesContent}}}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="img/duke.png" alt="Duke">
            <div class="caption">
                {{{javaContent}}}
            </div>
        </div>                        

    </div>
</div>